include ../mixins/all
ion-view(class="intro-view")
  ion-content.page-plans
    +img("plans", "images/plans.jpg")
    .content-plans
      .how-to-use
        p How to use?
      .button-group
        +link()
          +img("basic", "images/basic-btn.jpg")
        +link()
          +img("professtional", "images/professtional-btn.jpg")
  ion-content
ion-view
