include ../mixins/all
ion-view(class="intro-view")
  ion-content.page-login
    .title-login
      h1 SOFTWARE TESTING INTERVIEW
    .test-plan
      h2 
        +link() Manual Testing
        +link() Automation Testng
        +link() Testing In Agile
    form.form-login
      p Press START to start the test
      input(placeholder="Enter Your Name")
    button START

  ion-content
ion-view
