include ../mixins/all
form#login-form(name="login-form", ng-submit="login()", method="post").login-form
  .grid-fluid
    .row
      .col-sm-6.col-sm-offset-3
        .row.form-group
          .col-sm-4
            +label({id: 'username', text: 'User name:'})
          .col-sm-8
            +input({name: 'username', attr: {'ng-model': 'username'}})
        .row.form-group
          .col-sm-4
            +label({id: 'password', text: 'Password:'})
          .col-sm-8
            +input({name: 'password', type: 'password', attr: {'ng-model': 'password'}})
        .text-center
          +button({type: 'submit', name: 'login', text: 'Login'}).button
